*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;         
  text-align: left;   
}

td:hover {
  background-color: #f2f2f2; 
}